#debugArea {
    position: absolute;
    top: 0pt;
    right: 0pt;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;
    text-align: right;
}

#debugOutput {
    border: 1pt;
    border-color: black;
    border-style: solid;
    min-width: 300pt;
    max-width: 50%;
    text-align: left;
    display:none;
    background-color:white;

}

#output > p {
    overflow-wrap: break-word;
}

#output span {
    color: blue;
}

#output span.error {
    color: red;
}

#mainContainer {
    display:flex;
    flex-flow:column;
    justify-content:center;
    text-align:center;
}

#playArea{
    width: 500pt;
    display: contents;
}

.card {
    border: 1pt;
    border-style: solid;
    border-color: darkgray;
    width: 100pt;
    height: 120pt;
    text-align: center;
    vertical-align: central;
}

.cardSlot {
    border: 1pt;
    border-style: solid;
    border-color: darkgray;
    width: 102pt;
    height: 122pt;
    text-align: center;
    vertical-align: central;
}

.Stats table th {
    padding-left: 10pt;
    padding-right: 10pt;
}

.deck {
    border: 1pt;
    border-style: solid;
    border-color: darkgray;
}

.discardPile {
    border: 1pt;
    border-style: solid;
    border-color: darkgray;
}

.otherPlayer {
    border: 1pt;
    border-style: solid;
    border-color: black;
}
