body {
    font-family: "Times New Roman", Times, serif;
}

#mainContainer {
    display: flex;
    flex-flow: column;
    justify-content: center;
    text-align: center;
}

#mainContainer > h2 {
    margin: 5pt;
}

#playArea {
    display: inline-grid;
    grid-gap: 5pt 10pt;
}

.PlayerHeader {
    grid-column: 2;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.PlayerStats {
    grid-column: 2;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 15pt;
    justify-content: center;
}

.PlayerBoard {
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3pt;
}

.PlayerHand {
    grid-column: 2;
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 3pt;
}

#Opponent.PlayerHeader {
    grid-row: 1;
}

#Opponent.PlayerStats {
    grid-row: 2;
}

#Opponent.PlayerBoard {
    grid-row: 3;
}

#LocalPlayer.PlayerBoard {
    grid-row: 5;
}

#LocalPlayer.PlayerHand {
    grid-row: 6;
}

#LocalPlayer.PlayerStats {
    grid-row: 7;
}

#LocalPlayer.PlayerHeader {
    grid-row: 8;
    flex-direction: column-reverse;
}

.GeneralInfoContainer {
    grid-column: 3;
    grid-row-start: 1;
    grid-row-end: 8;
    display: flex;
    flex-direction: column;
    place-content: center;
    gap: 30pt;
}

.PlayerSeparator {
    grid-row: 4;
    background-color: darkgray;
    width: 100%;
    height: 1pt;
    margin-top: 10pt;
    margin-bottom: 10pt;
}

.CardSlot {
    border: 1pt;
    border-style: solid;
    border-color: darkgray;
    width: 92pt;
    height: 112pt;
    text-align: center;
    display: flex;
}

    .CardSlot > * {
        width: 100%;
        height: 100%;
        display: flex;
    }

    .CardSlot > button {
        justify-content: center;
        align-items: center;
    }

.Card {
    border: 1pt;
    border-style: solid;
    border-color: darkgray;
    justify-content: center;
    align-items: center;
    display: flex;
    width: 100%;
}

    .Card > * {
        display: flex;
        width: 100%;
        height: 100%;
        align-items: center;
        justify-content: center;
    }

.CardPile {
    border: 1pt;
    border-style: solid;
    border-color: darkgray;
    width: 160pt;
    height: 180pt;
    text-align: center;
}

.MiniCardDisplay {
    display: grid;
    grid-template-columns: auto auto auto auto;
}
.MiniCardColumn {
    display: flex;
    flex-direction: column;
}

.Face pre {
    margin: 0pt;
}

.FaceCollection {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
}

    .FaceCollection > * {
        margin: 10pt;
    }

.GameLog {
    margin-top: 30pt;
    margin-right: 5pt;
    grid-column: 1;
    grid-row-start: 1;
    grid-row-end: 7;
    width: 160pt;
    text-align: right;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 4pt;

    border: 1pt;
    border-style: solid;
    border-color: darkgray;
}

.LogEntry {
    display: inline;
}

    .LogEntry > * {
        display: inline;
        margin-left: 3pt;
    }

.CardMini {
    border: 1pt;
    border-style: solid;
    border-color: darkgray;
}

#debugArea {
    position: absolute;
    top: 0pt;
    right: 0pt;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;
}

#DebugContainer {
    border: 1pt;
    border-color: black;
    border-style: solid;
    width: 300pt;
    text-align: left;
    display: none;
    background-color : white;
    flex-direction : column;
}

#DebugOutput p {
    overflow-wrap: break-word;
}

#DebugOutput span {
    color: blue;
}

    #DebugOutput span.error {
        color: red;
    }

#Rules {
    text-align: center;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#Rules > button {
    width:15pt;
    height: 18pt;
}

#RulesContent {
    display: none;
    width: 600pt;
    height: 200pt;
}